# Gradle
.gradle/
**/.gradle/
build/
**/build/
out/
**/out/

# Local SDK path
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Kotlin/Java build artifacts
*.class

# Keystore files
*.jks
*.keystore

# Optional: external/local libs
libs/

# Local backups
*.bak
